
.our-story {
  /* padding-bottom: 20px; */
  background-color: rgb(245, 228, 227);
  min-height: 50px;
  font-weight: 600;
  font-size: xx-large;
  text-align: center;
  margin-right: 0%;
}

.our-story h2{
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .story-container {
    display: flex;
    flex-direction: column;
    flex: content;
    margin-left: 5%;
    margin-right: 5%;
  }
}


@media screen and (min-width: 500px) and (max-width:1200px){
  .story-container {
    display: flex;
    flex-direction: row;
    flex: content;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 1200px) {
  .story-container {
    display: flex;
    flex-direction: row;
    flex: content;
    margin-left: 20%;
    margin-right: 20%;
  }
}
.img-container {
  min-width: 50%;
  height: auto;
}

.image {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 1200px){
  .story-text {
      max-width: 100%;
      text-align: justify;
      padding-left: 10px;
      font-size: small;
    }
}
@media screen and (min-width: 1200px) {
  .story-text {
    max-width: 50%;
    text-align: justify;
    padding-left: 20px;
  } 
}



.story-title{
  color:rgb(118, 184, 240);
  padding-bottom: 10px;
  font-size: small;
  font-weight: 800;
}


.our-services, .speakers, .insight {
  padding-top: 80px;
  padding-bottom: 40px;
} 

.title-1{
  color:rgb(118, 184, 240);
  font-weight: 700;
  font-size: large;
}

.title-2 {
  color: black;
  font-size: small;
}

.title-2 h1 {
  padding: 0;
}

.title-3 {
  color: black;
  padding-top: 0;
  font-size: small;
  font-weight: 400;
}
@media screen and (min-width: 800px) {
  .services {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    padding-left: 23%;
    padding-right: 20%;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    /* border: 2px solid transparent; */
  }

}
@media screen and (max-width: 800px) {
  .services {
      display: flex;
      flex-direction: column;
      max-width: 900px;
      padding-left: 10%;
      padding-bottom: 20px;
      padding-right: 10%;
      align-items: center;
      justify-content: center;
      /* border: 2px solid transparent; */
    }
}


.mental-health, .digital, .free {
  padding: 30px 10px;
  text-align: center;
  margin: 10px;
  width: 400px;
  flex-basis: 250px;
  flex-grow: 1;  
  border: 2px solid transparent;
}

.sub {
  pointer-events: none;
}
@media screen and (max-width: 500px) {
  .sub {
    padding-left: 7%;
  }
}

.border :hover {
  border-color: black;
}

.upcoming-events{
  background-color: rgb(254, 248, 243);
}

.ue-text-box {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 10%;
  text-align: left;
}

.t1{
  color: rgb(92, 29, 220);
  font-size: small;
  font-weight: 600;
}

.t2 {
  font-size: xx-large;
  padding-top: 10px;
  font-weight: 700;
}

.t3 {
    font-size: small;
    padding-top: 10px;
    font-weight: 400;
}

.slide {
  color: black;
  padding-bottom: 100px;
  border-color: black;
  border: 1px solid grey;
}

.bottom {
  padding-top: 50px;
  margin-bottom: 50;
  margin-left: 100px;
  text-align: left;
  font-size: small;
  padding-left: 20px;
  color: black;
}



/* Slider section */
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}
.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
  height: 400px;
}
.slide {
  display: inline-block;
  height: 300px;
  width: 100%;
  border-radius: 30px;
  /* border-color: transparent; */
  /* text-align: center; */
  /* text-align: justify; */
  

}
.slide-text{
  flex: 1;
  flex-wrap: wrap;
  text-align: center;
}
/* Buttons */
.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}