.total {
  text-align: center;
  margin: 0px auto;
}


.header {
  margin-top: 5%;
  margin-left: 10%;
  color: black;
  text-align: left;
  font-weight: 700;
  font-size: x-large;
}

.image-container {
  min-width: 100%;
  height: auto;
}

.group-title {
  padding-top: 30px;
  color: rgb(118, 184, 240);
  font-weight: 700;
  font-size: x-large;
  padding-bottom: 20px;
}

.eboard-container {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dev-container {
  flex-wrap: wrap;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sub {
  padding-inline: 50px;

}

.team-photo h1 {
  padding: 30px;
  min-width: 50%;
  height: auto;
  background-color: rgb(254, 248, 243);
}

.image {
  max-width: 85%;
  height: auto;
}

.team-photo h4 {
  font-size: large;
}

.indiv-image h5 {
  font-weight: 600;
}

.indiv-image h4 {
  font-weight: 600;
  font-size: large;
  color: blue;
}

.bottom {
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: left;
  font-size: small;
}